<appSettings>
  <!--Configuration-->
  <add key="MaxInscriptionSelection" value="1" />
  <add key="MaxInscriptionCuatrimestral" value="4" />
  <add key="MaxInscriptionCursoVerano" value="1" />
  <add key="MaxInscriptionExamen" value="10000" />
  <add key="MailTypeActivation" value="1" />
  <add key="MailTypePasswordRecovery" value="2" />
  <add key="StartDateWindowInscriptionClosed" value="04/03/2013" />
  <add key="EndDateWindowInscriptionClosed" value="08/03/2013" />
  <add key="StartTimeWindowInscriptionClosed" value="8" />
  <add key="EndTimeWindowInscriptionClosed" value="10" />
  <add key="FilePath" value="C:\PortalAlumnosExtract\" />
  <add key="FileNameCatedraComision" value="CAT-COM.TXT" />
  <add key="FileNameInscripcion" value="INSCRIP.TXT" />
  <add key="MaintenanceFlag" value="false" />
  <add key="ServerFlag" value="false" />
  <add key="InscriptionHistoricDisable" value="false" />
  <add key="InscripcionDisable" value="false" />
  <add key="PathLogWriter" value="C:\LogInscripcionesCursos\InscripcionesCursos.Log." />
  <add key="PathFileTransfer" value="C:\UNLZTemp\"/>
  <!--Textos Title Páginas-->
  <add key="TitleGeneric" value="Universidad Nacional de Lomas de Zamora- {0}" />
  <add key="TitleError" value="Error" />
  <add key="TitleInicio" value="Inicio" />
  <add key="TitleNoDisponible" value="Sección No Disponible" />
  <add key="TitleDefault" value="Bienvenidos al Portal Web de Alumnos" />
  <add key="TitleLogin" value="Acceso Portal Web de Alumnos" />
  <add key="TitleCamioPassword" value="Cambio de Contraseña" />
  <add key="TitleRecuperoPassword" value="Recupera de Contraseña" />
  <add key="TitleGeneracionClave" value="Generación de Claves" />
  <add key="TitleReenvioEmail" value="Reenvio Email de Activación" />
  <add key="TitleActivacionCuenta" value="Activación de Cuentas" />
  <add key="TitleInscripciones" value="Inscripciones" />
  <add key="TitleHistorialInscripciones" value="Historial Materias Registradas" />
  <add key="TitleExtraccionDatos" value="Extraccion de Datos" />
  <add key="TitleModificacionDatos" value="Modificación de Datos Personales" />
  <add key="TitleMateriasRendidas" value="Listado de Materias Rendidas" />
  <add key="TitlePrintInscripciones" value="Mis Inscripciones" />
  <add key="TitleCambioEmail" value="Cambio de Mail" />
  <add key="TitleConstanciaAlumnoRegular" value="Constancia de Alumno Regular" />
  <add key="TitleContentImportarPadron" value="Importar Padron de Alumnos" />
  <add key="TitleConsultas" value="Consultas de Datos" />
  <add key="TitleCambioTextos" value="Cambio Textos Inscripción" />
  <add key="TitlePlanDeEstudio" value="Plan de Estudio" />
  <!--Textos de mensajes de Errores-->
  <add key="ErrorMessageLoginDni" value="Ingrese un DNI válido" />
  <add key="ErrorMessageLoginPassword" value="Ingrese una contraseña alfanumérica válida de mínimo 6 caracteres y máximo 10 caracteres" />
  <add key="ErrorMessageLoginCredentials" value="Las credenciales ingresadas son inválidas" />
  <add key="ErrorMessageDniInexistente" value="El DNI ingresado no se encuentra en la base de datos, por favor reviselo y vuelva a intentar" />
  <add key="ErrorMessageUserSinMail" value="El usuario ingresado no posee una dirección de mail cargada" />
  <add key="ErrorMessagePasswordIncorrecta" value="La contraseña antigua ingresada es incorrecta" />
  <add key="ErrorMessagePasswordRepeat" value="La contraseña nueva no coincide" />
  <add key="ErrorMessagePasswordEqual" value="La contraseña nueva no debe ser igual a la antigua" />
  <add key="ErrorMessagePasswordNoCambiada" value="La contraseña no ha sido actualizada, intentelo nuevamente mas tarde" />
  <add key="ErrorMessageMaxSelection" value="Su solicitud no puede ser procesada, por favor seleccione una sola Catedra/Comision" />
  <add key="ErrorMessageMinSelection" value="Su solicitud no puede ser procesada, por favor seleccione alguna Catedra/Comision" />
  <add key="ErrorMessageCartAddLimit" value="Ha alcanzado el límite de su lista de inscripciones" />
  <add key="ErrorMessageMatterExistInCart" value="La materia seleccionada ya esta ingresada en su lista de inscripciones" />
  <add key="ErrorMessageResendEmailFailed" value="No se ha podido reenviar el mail de activación, por favor vuelva a intentarlo en unos instantes" />
  <add key="ErrorMessageSendPasswordEmailFailed" value="No se ha podido enviar el mail con su contraseña, por favor vuelva a intentarlo en unos instantes" />
  <add key="ErrorMessageSendPasswordEmailCargo" value="El cargo del DNI ingresado, no permite esta acción. Si es usted un empleado, por favor re-genere su clave" />
  <add key="ErrorMessageSendPasswordEmailEmpty" value="El DNI ingresado, no posee la cuenta activada, por favor dirijase al Departamento de Alumnos y regularice su cuenta" />
  <add key="ErrorMessageInactiveUser" value="Usted no puede generar la constancia de alumno regular, ya que no es un alumno regular. Por favor diríjase a la Dirección de Alumnos de la facultad." />
  <!--Textos de Mensajes-->
  <add key="MessageCartClearInscriptions" value="Estimada/o alumna/o, al presionar el botón ACEPTAR su inscripción para este turno pasará a estar compuesta por el conjunto de materias que quedaron seleccionadas en la lista ubicada en la parte inferior de la pantalla. Un mail con está información le será enviado a la dirección de correo electrónico que tiene registrada, en forma automática." />
  <add key="MessageCareer" value="Estimada/o alumna/o, tiene que tramitar el Cambio de Carrera o, si corresponde, la Simultaneidad de Carrera" />
  <!--Textos de Labels-->
  <add key="LabelDNI" value="DNI:" />
  <add key="LabelApellidoNombre" value="Apellido y Nombre:" />
  <add key="LabelPassword" value="Contraseña:" />
  <add key="LabelPasswordAntigua" value="Contraseña antigua:" />
  <add key="LabelPasswordNueva" value="Contraseña nueva:" />
  <add key="LabelPasswordRepite" value="Repetir contraseña nueva:" />
  <add key="LabelEmail" value="Email:" />
  <add key="LabelEmailChange" value="Nuevo Email:" />
  <add key="LabelEstado" value="Estado: " />
  <add key="LabelDirigidoA" value="Para ser presentado ante: " />
  <add key="LabelSeleccionTurno" value="Turnos de inscripción del año en curso" />
  <add key="LabelCarrera" value="Carrera:" />
  <add key="LabelEstadoCuenta" value="Estado Cuenta:" />
  <add key="LabelPreInscripcion1" value="Texto 1er Parrafo Pagina Pre-Inscripción " />
  <add key="LabelPreInscripcion2" value="Texto 2do Parrafo Pagina Pre-Inscripción " />
  <add key="LabelPreHistorico" value="Texto Pagina Pre-Comprobante Historico " />
  <add key="LabelHabilitaHistorico" value="Habilitar Página Comprobante Historico" />
  <add key="LabelHabilitaPortalMantenimiento" value="Habilitar Página Portal Mantenimiento" />
  <add key="LabelHabilitaInscripcionAlumno" value="Habilitar Inscripciones Alumnos" />
  <add key="ContentTextHeader" value="Portal Web de Alumnos" />
  <add key="ContentErrorMessageGeneric" value="Por razones técnicas, no se pudo procesar su solicitud, por favor pongase en contacto via mail a {0}" />
  <add key="ContentErrorNoDisponible" value="Estimada/o, en estos momentos el portal se encuentra en mantenimiento. El servicio será restablecido a la brevedad. " />
  <add key="ContentDefaultTitulo" value="Bienvenidos al Portal Web de Alumnos de nuestra Facultad" />
  <add key="ContentDefaultBodyPart1" value="Mediante este portal podrá realizar diferentes gestiones administrativas como así también consultas de su situación académica." />
  <add key="ContentDefaultBodyPart2" value="Si va a ingresar por primera vez al portal, deberá gestionar su clave de acceso, por única vez, concurriendo a la Dirección de Alumnos de la Facultad, de lunes a viernes de 10:00 a 12:00 y de 17:00 a 20:00 horas, acompañado de su Documento de Identidad o Libreta Universitaria." />
  <add key="ContentFooter" value="En caso de tener algún tipo de dificultad con la utilización del Portal, por favor diríjase a la Dirección de Alumnos de la Facultad o escríbanos por mail a {0}" />
  <add key="ContentPrintForm" value="IMPORTANTE:{0}{1}Cuando ingrese por primera vez al Portal, se le solicitará que cambie la contraseña que le hemos proporcionado.También le solicitaremos una dirección de correo electrónico al cual se le enviarán las instrucciones necesarias para poder operar en el Portal.El ALTA en el sitio se completa una vez respondido el mencionado correo electrónico.{2}Por favor preste especial atención a que la contraseña aquí proporcionada consta de caracteres en mayúsculas y minúsculas y debe respetarlos.Ante cualquier inconveniente, por favor diríjase nuevamente a la Dirección de Alumnos de la Facultad." />
  <add key="ContentSendEmail" value="Se ha enviado un mail a su casilla de correo para finalizar la activación de su cuenta" />
  <add key="ContentSendPasswordEmail" value="Se ha enviado un mail a la casilla {0} en donde encontrará su contraseña" />
  <add key="ContentResendEmailOk" value="Se ha reenviado el mail de activación al usuario ingresado" />
  <add key="ContentInfoStudentCambioPassword" value="{0}IMPORTANTE:{1} Antes de presionar el botón “Enviar”, verifique que la dirección de correo electrónico sea correcta ya que el sistema le enviará un email solicitando la {2}confirmación del ALTA{3}  en nuestro Portal. En caso de no haber recibido el mencionado email, le sugerimos verificar si no ha ingresado como correo no solicitado o SPAM." />
  <add key="ContentInfoEmployeeCambioPassword" value="Estimada/o, para poder generar claves, primero deberá cambiar su contraseña genérica" />
  <add key="ContentCambioPasswordEmployee" value="Su contraseña ha sido cambiada con éxito, espere unos segundos y será redirigido a la Generación de claves" />
  <add key="ContentLoginControl" value="Bienvenido {0}" />
  <add key="ContentActivationAccountSuccesMessage" value="Estimada/o {0}, su cuenta ha sido activada exitosamente, espere unos segundos y será redirigido a la página inicial." />
  <add key="ContentActivationAccountError" value="El enlace accedio fue activado, o es inválido" />
  <add key="ContentInscripcionActivaNoDisponible" value="Por el momento, no hay inscripciones activas disponibles, por favor diríjase a la Dirección de Alumnos de la Facultad" />
  <add key="ContentInscripcionProcesandoDatos" value="Momentaneamente no se pueden realizar inscripciones, ya que se estan procesando las mismas. Este proceso abarca desde las 8:00hs hasta las 10:00hs." />
  <add key="ContentComboDepartamentoDefault" value="Seleccione Departamento..." />
  <add key="ContentComboCarreraDefault" value="Seleccione Carrera..." />
  <add key="ContentComboMateriaDefault" value="Seleccione Materia..." />
  <add key="ContentComboTurnoDefault" value="Seleccione Turno..." />
  <add key="ContentComboImportacionDefault" value="Seleccione Tipo Importacion..." />
  <add key="ContentComboVueltaDefault" value="Seleccione Vuelta..." />
  <add key="ContentComboImportacionAll" value="Todos" />
  <add key="ContentComboInscripcionDefault" value="Seleccione Tipo Inscripcion..." />
  <add key="ContentComboExtractAll" value="Todos" />
  <add key="ContentHeaderCatedraComision" value="Catedra / Comisión" />
  <add key="ContentHeaderProfesor" value="Profesor" />
  <add key="ContentHeaderHorario" value="Horario" />
  <add key="ContentHeaderMateria" value="Materia" />
  <add key="ContentHeaderSeleccion" value="Selección" />
  <add key="ContentHeaderTurno" value="Turno Inscripción" />
  <add key="ContentHeaderCodigoMateria" value="Código Materia" />
  <add key="ContentHeaderMateria" value="Materia" />
  <add key="ContentHeaderEstadoInscripcion" value="Estado Inscripción" />
  <add key="ContentHeaderTipoInscripcion" value="Tipo Inscripción" />
  <add key="ContentHeaderVuelta" value="Vuelta" />
  <add key="ContentHeaderEliminar" value="Eliminar" />
  <add key="ContentEstadoInscripcionEnProgreso" value="Su inscripción esta siendo procesada..." />
  <add key="ContentEstadoInscripcionAndEmailOK" value="Estimada/o, su inscripción ha sido procesada con éxito y se ha enviado un mail a su casilla con el resultado de la misma." />
  <add key="ContentEstadoInscripcionOkEmailError" value="Estimada/o, su inscripcion ha sido procesada con éxito, pero no se ha podido enviar el mail." />
  <add key="ContentEstadoInscripcionError" value="Su inscripción no ha sido procesada, por favor ponganse en contacto con el Departamento de Alumnos de la Facultad." />
  <add key="ContentEstadoInscripcionRepetida" value="Estimada/o, usted ya ha procesado una inscrición en la Catedra/Comision seleccionada" />
  <add key="ContentEstadoInscripcionLimite" value="Estimada/o, ya ha alcanzado el límite de inscripciones disponible" />
  <add key="ContentPreInscripcionTitulo" value="Información a tener en cuenta antes de Registrarse a las Materias a través de este portal" />
  <add key="ContentPreInscripcionBodyPart1" value="La información de la oferta académica para la inscripción{0}{1} se encuentra ordenada por Departamento Pedagógico, Carrera en la que está inscripto y luego podrá seleccionar la materia y horario. Una vez seleccionada se podrá agregar al conjunto de la inscripción." />
  <add key="ContentPreInscripcionBodyPart2" value="La registración a materias vía portal web podrá realizarse el día 17/02/2014 desde las 10:00 horas hasta las 19:59 horas.{0}" />
  <add key="ContentPreInscripcionBodyPart3" value="{0}{1}" />
  <add key="ContentPreInscripcionBodyPart4" value="" />
  <add key="ContentPreHistorialInscripcion" value="La registración a materias para exámenes libres es definitiva{0}{1}{2}{3}&lt;br/&gt;" />
  <add key="ContentCambioEmailOk" value="El mail se ha actualizado correctamente" />
  <add key="ContentCuentaActivada" value="Activa" />
  <add key="ContentCuentaNoActivada" value="No Activa" />
  <add key="ContentCuentaTramitada" value="Tramitada" />
  <add key="ContentCuentaNoTramitada" value="No Tramitada" />
  <!--Textos Titulos Main-->
  <add key="ContentMainTitleHistorico" value="Mis Inscripciones" />
  <add key="ContentMainTitleActivacionCuenta" value="Activación de Cuenta" />
  <add key="ContentMainTitleCambioPassword" value="Cambio de Contraseña" />
  <add key="ContentMainTitleGeneracionClaves" value="Generación de Clave para Alumnos" />
  <add key="ContentMainTitleCambioEmail" value="Cambio de Email Alumnos" />
  <add key="ContentMainTitleReenvioMailActivacion" value="Reenvio Mail de Activación" />
  <add key="ContentMainTitleInscripcion" value="Registración a Materias" />
  <add key="ContentMainTitleRecuperoPassword" value="Recupero de Contraseña" />
  <add key="ContentMainTitleExtraccionCatedras" value="Herramienta de Extracción de Catedras/Comisiones" />
  <add key="ContentMainTitleExtraccionInscripciones" value="Herramienta de Extracción de Inscripciones" />
  <add key="ContentMainTitleExtraccionAlumnos" value="Herramienta de Extracción de Alumnos" />
  <add key="ContentMainTitleModificacionDatos" value="Modificación de Datos Personales" />
  <add key="ContentMainTitleMateriasRendidas" value="Materias Rendidas" />
  <add key="ContentMainTitleMiCarro" value="Materias en las que me encuentro registrado hasta el momento" />
  <add key="ContentMainTitleConstanciaAlumnoRegular" value="Constancia de Alumno Regular" />
  <add key="ContentMainTitleImportarPadronAlumnos" value="Herramienta de Importación del Padron de Alumnos" />
  <add key="ContentMainTitleImportarInscripciones" value="Herramienta de Importación de Inscripciones" />
  <add key="ContentMainTitleImportarComisiones" value="Herramienta de Importación de Catedras/Comisiones" />
  <add key="ContentMainTitleImportarInscripcionActiva" value="Herramienta de Importación de Inscripción Activa" />
  <add key="ContentMainTitleImportarAnalitico" value="Herramienta de Importación de Calificaciones" />
  <add key="ContentMainTitleImportarInscripcionActiva" value="Herramienta de Importación de Inscripción Activa" />
  <add key="ContentMainTitleConsultas" value="Datos Estadisticos Alumnos/Inscripciones" />
  <add key="ContentMainTitlePlanEstudio" value="Plan de Estudio {0}" />
  <!--Textos Impresion Comprobante Inscripciones-->
  <add key="ContentHeaderHistoricoImpresion" value="UNIVERSIDAD NACIONAL DE LOMAS DE ZAMORA{0}FACULTAD DE CIENCIAS ECONOMICAS{1}DIRECCION DE ALUMNOS" />
  <add key="ContentHeaderHistoricoImpresionFecha" value="Fecha: " />
  <add key="ContentSubtitleHistoricoImpresion" value="SOLICITUD DE REGISTRACION A MATERIAS {0}{1}COMPROBANTE PARA EL ALUMNO" />
  <add key="ContentSubtitleHistoricoImpresionExamenVuelta" value="" />
  <add key="ContentSubtitleHistoricoImpresion1Vuelta" value="1ERA VUELTA" />
  <add key="ContentSubtitleHistoricoImpresion2Vuelta" value="2DA VUELTA" />
  <add key="ContentData1HistoricoImpresion" value="CUATRIMESTRE: {0} {1}" />
  <add key="ContentData2HistoricoImpresion" value="APELLIDO Y NOMBRES: {0}" />
  <add key="ContentData3HistoricoImpresion" value="NRO. DOCUMENTO: {0}" />
  <add key="ContentBodyTitleHistoricoImpresion" value="Solicito inscripción en las siguientes materias:" />
  <add key="ContentFooterHistorcioImpresion" value="TÓMO CONOCIMIENTO DE LO SIGUIENTE:{0}EL RESULTADO DE LA PRESENTE INSCRIPCIÓN SERÁ PUBLICADO EL {1}.{2}CONDICIONES PARA CURSAR MATERIAS: TENER APROBADAS TODAS LAS CORRELATIVAS DIRECTAS E INDIRECTAS Y SER {3}ALUMNO REGULAR{4} (ESTO ES: HABER APROBADO 2 (DOS) MATERIAS EN EL AÑO ACADEMICO ANTERIOR DEPENDIENDO DEL ÚLTIMO INGRESO O REINCORPORACIÓN DE ABRIL-A-MARZO O DE AGOSTO-A-JULIO.{5}PARA TODO RECLAMO ES NECESARIO PRESENTAR ESTE TALON." />
  <add key="ContentFooterHistoricoEmail" value="TÓMO CONOCIMIENTO DE LO SIGUIENTE:{0}EL RESULTADO DE LA REGISTRACIÓN A MATERIAS DE 1ERA VUELTA ESTARÁ DISPONIBLE EL {1}.{2} EL RESULTADO FINAL DE LA REGISTRACIÓN A MATERIAS DE ESTE CUATRIMESTRE ESTARÁ DISPONIBLE A PARTIR DEL {3}. CONDICIONES PARA CURSAR MATERIAS: TENER APROBADAS TODAS LAS MATERIAS CORRELATIVAS DIRECTAS E INDIRECTAS Y SER {4}ALUMNO REGULAR{5} (ESTO ES: HABER APROBADO 2 (DOS) MATERIAS EN EL AÑO ACADEMICO ANTERIOR DEPENDIENDO DEL ÚLTIMO INGRESO O REINCORPORACIÓN DE ABRIL-A-MARZO O DE AGOSTO-A-JULIO.{6}PARA TODO RECLAMO ES NECESARIO PRESENTAR ESTE TALON." />
  <add key="ContentFooterHistoricoEmailExamen" value="ME NOTIFICO QUE PARA RENDIR EXAMEN FINAL DEBO MANTENER LA CONDICIÓN DE ALUMNO REGULAR Y RESPETAR LAS CORRELATIVIDADES VIGENTES Y QUE LAS FECHAS DE EXÁMENES PUEDEN SUFRIR MODIFICACIONES." />
  <add key="ContentFooterHistoricoEmailCursoVerano" value="TÓMO CONOCIMIENTO DE LO SIGUIENTE:{0}EL RESULTADO DE LA REGISTRACIÓN A MATERIAS DE CURSO DE VERANO ESTARÁ DISPONIBLE EL {1}.{2}CONDICIONES PARA CURSAR MATERIAS: TENER APROBADAS TODAS LAS MATERIAS CORRELATIVAS DIRECTAS E INDIRECTAS Y SER {3}ALUMNO REGULAR{4} (ESTO ES: HABER APROBADO 2 (DOS) MATERIAS EN EL AÑO ACADEMICO ANTERIOR DEPENDIENDO DEL ÚLTIMO INGRESO O REINCORPORACIÓN DE ABRIL-A-MARZO O DE AGOSTO-A-JULIO.{5}PARA TODO RECLAMO ES NECESARIO PRESENTAR ESTE TALON." />
  <add key="ContentFooterFechaHistoricoEmail" value="05/08/2013 A PARTIR DE LAS 10:00 HORAS" />
  <add key="ContentFooterFechaHistoricoEmailCursoVerano" value="26/12/2013 A PARTIR DE LAS 10:00 HORAS" />
  <add key="ContentFooterFecha2HistoricoEmail" value="12/08/2013" />
  <add key="ContentFooterFechaHistorcioImpresion" value="16/03/2013" />
  <add key="ContentDataHistoricoCursoVerano" value="CURSO DE VERANO" />
  <add key="ContentDataHistorico1Cuatrimestre" value="1ER CUATRIMESTRE" />
  <add key="ContentDataHistorico2Cuatrimestre" value="2DO CUATRIMESTRE" />
  <add key="ContentDataHistoricoExamen" value="EXAMEN FINAL TURNO {0}" />
  <!--Textos Impresion Analitico-->
  <add key="ContentSinMateriasRendidas" value="No se han encontrado registros de materias rendidas" />
  <add key="ContentConMateriasRendidas" value="Se han encontrado materias rendidas, y se ha abierto un popup para mostrar las mismas. En caso de no verlo, por favor revise la configuración de su explorador." />
  <add key="ContentAnaliticoUltimoIngreso" value="ULTIMO INGRESO: " />
  <add key="ContentAnaliticoSitucion" value="SITUACION: " />
  <add key="ContentAnaliticoTitulo" value="EXAMENES RENDIDOS" />
  <add key="ContentAnaliticoHeaderMateria" value="NOMBRE DE LA ASIGNATURA" />
  <add key="ContentAnaliticoHeaderCodigo" value="CODIGO" />
  <add key="ContentAnaliticoHeaderCalificacion" value="CALIFICACION" />
  <add key="ContentAnaliticoHeaderFecha" value="FECHA" />
  <add key="ContentAnaliticoHeaderNumero" value="NUMERO" />
  <add key="ContentAnaliticoHeaderLetras" value="LETRAS" />
  <add key="ContentAnaliticoHeaderDia" value="D" />
  <add key="ContentAnaliticoHeaderMes" value="M" />
  <add key="ContentAnaliticoHeaderAnio" value="A" />
  <add key="ContentAnaliticoHeaderCondicion" value="CONDICION" />
  <add key="ContentAnaliticoHeaderLibro" value="LIBRO" />
  <add key="ContentAnaliticoHeaderTomo" value="TOMO" />
  <add key="ContentAnaliticoHeaderFolio" value="FOLIO" />
  <add key="ContentAnaliticoHeaderSubFolio" value="SUBFOLIO" />
  <add key="ContentAnaliticoHeaderResolucion" value="RESOLUCION" />
  <add key="ContentAnaliticoFooter1" value="EL PRESENTE LISTADO DE EXAMENES RENDIDOS PUEDE SUFRIR MODIFICACIONES, UNA VEZ EFECTUADO EL CONTROL CON LOS LIBROS DE ACTAS RESPECTIVOS." />
  <add key="ContentAnaliticoFooter2" value="------ A su pedido y para ser presentado ante ................................................................" />
  <add key="ContentAnaliticoFooter3" value="Lomas de Zamora, {0} de {1} de {2}." />
  <add key="NotaCero" value="CERO" />
  <add key="NotaUno" value="UNO" />
  <add key="NotaDos" value="DOS" />
  <add key="NotaTres" value="TRES" />
  <add key="NotaCuatro" value="CUATRO" />
  <add key="NotaCinco" value="CINCO" />
  <add key="NotaSeis" value="SEIS" />
  <add key="NotaSiete" value="SIETE" />
  <add key="NotaOcho" value="OCHO" />
  <add key="NotaNueve" value="NUEVE" />
  <add key="NotaDiez" value="DIEZ" />
  <!--Textos y Datos Envío de Mail-->
  <add key="MailToContact" value="sistemas@economicaslomas.org.ar" />
  <add key="MailActivationSubject" value="UNLZ- Activación de cuenta" />
  <add key="MailInscriptionSubject" value="UNLZ- Inscripcion a Materias" />
  <add key="MailPasswordRecoverSubject" value="UNLZ- Recupero de Contraseña" />
  <add key="MailBodyActivation" value="Estimada/o {0},{1}{2}Su contraseña ha sido modificada exitosamente, para dar de alta su usuario, por favor haga click {3} o si tiene problemas, copie el siguiente enlace y peguelo en su navegador{4}{5}{6}{7}Muchas gracias,{8}Departamento de Alumnos" />
  <add key="MailBodyPasswordRecover" value="Estimada/o {0},{1}Su contraseña actual es{2}{3}{4}Por favor anótela para recordarla.{5}Muchas gracias,{6}Departamento de Alumnos" />
  <add key="MailActivationClick" value="aquí" />
  <add key="MailBodyHeaderImg" value="http://186.4.100.111/InscripcionesCursos/img/header_mail.gif" />
  <!--Textos Carro de Inscripcion -->
  <add key="ContentCarroCodigoMateria" value="Código" />
  <add key="ContentCarroMateria" value="Materia" />
  <add key="IdEstadoAltaInscripcion" value="A" />
  <add key="IdEstadoBajaErrorInscripcion" value="B" />
  <add key="IdEstadoBajaModificacion" value="M" />
  <add key="IdEstadoBajaSorteo" value="D" />
  <add key="IdEstadoBajaReglamentacion" value="R" />
  <add key="IdEstadoBajaAprobada" value="E" />
  <add key="IdTipoInscripcionPromocion" value="P" />
  <add key="IdOrigenInscripcionFacu" value="F" />
  <add key="IdOrigenInscripcionWeb" value="W" />
  <!--Textos Impresion Constancia Alumno Regular-->
  <add key="ContentHeaderConstanciaImpresion" value="Universidad Nacional de Lomas de Zamora{0}FACULTAD DE CIENCIAS ECONOMICAS{1}Año Académico {2}" />
  <add key="ContentBodyConstanciaImpresionPart1" value="Certifico que {0} D.N.I N°{1} Libreta Universitaria N° {2} mantiene durante el presente año académico, desde el {3} y hasta el {4}, la condición de alumno regular de esta Facultad, de acuerdo con las normas reglamentarias vigentes." />
  <add key="ContentBodyConstanciaImpresionPart2" value="A su pedido y para ser presentado ante:{0}{1} se extiende el presente en la ciudad de Lomas de Zamora, a los {2} días del mes de {3} del año {4}." />
  <add key="ContentFooterConstanciaImpresion" value="Este certificado tiene validez ante terceros, solamente con el respectivo sello y firma de la Dirección de Alumnos de la Facultad de Ciencias Económicas de la UNLZ:" />
  <add key="DefaultText" value="Ingrese el nombre aquí" />
  <add key="MesDesdePrimerCuatrimestre" value="4/" />
  <add key="MesHastaPrimerCuatrimestre" value="3/" />
  <add key="MesDesdeSegundoCuatrimestre" value="8/" />
  <add key="MesHastaSegundoCuatrimestre" value="7/" />
  <add key="DiaDesde" value="1/" />
  <add key="DiaHasta" value="31/" />
  <!--Textos Botones -->
  <add key="BotonConstancia" value="Constancia de Alumno Regular" />
  <add key="BotonPlanes" value="Consulta del Plan de Estudios" />
  <add key="BotonRendidas" value="Materias Rendidas" />
  <add key="BotonInscripciones" value="Registración a Materias" />
  <add key="BotonHistorico" value="Materias en que Solicité Inscripción" />
  <add key="BotonActualizarDatos" value="Actualización de Datos Personales" />
  <add key="BotonLogout" value="Salir del Portal" />
  <add key="BotonEntrar" value="Entrar" />
  <add key="BotonInscribir" value="Confirmar" />
  <add key="BotonResend" value="Reenviar Activación" />
  <add key="BotonGenerarClave" value="Generar Claves" />
  <add key="BotonEmailChange" value="Cambiar Email" />
  <add key="BotonInscribirAlumno" value="Inscribir Alumno" />
  <add key="BotonTools" value="Herramientas" />
  <add key="BotonProceso" value="Proceso" />
  <add key="BotonExtraerCatedras" value="Extraer Catedras/ Comisiones" />
  <add key="BotonExtraerInscripciones" value="Extraer Inscripciones" />
  <add key="BotonExtraerAlumnos" value="Extraer Alumnos Portal" />
  <add key="BotonImportarPadronAlumnos" value="Importar Padron Alumnos" />
  <add key="BotonImportarInscripciones" value="Importar Inscripciones" />
  <add key="BotonImportarComisiones" value="Importar Comisiones" />
  <add key="BotonImportarInscripcionActiva" value="Importar Inscripción Activa" />
  <add key="BotonConsultas" value="Consultas" />
  <add key="BotonCambioTextos" value="Cambiar Textos" />
  <add key="BotonImportarAnalitico" value="Importar Calificaciones" />
  <add key="BotonImportarInscripcionActiva" value="Importar Inscripcion Activa" />
  <!--Textos Meses-->
  <add key="Enero" value="Enero" />
  <add key="Febrero" value="Febrero" />
  <add key="Marzo" value="Marzo" />
  <add key="Abril" value="Abril" />
  <add key="Mayo" value="Mayo" />
  <add key="Junio" value="Junio" />
  <add key="Julio" value="Julio" />
  <add key="Agosto" value="Agosto" />
  <add key="Septiembre" value="Septiembre" />
  <add key="Octubre" value="Octubre" />
  <add key="Noviembre" value="Noviembre" />
  <add key="Diciembre" value="Diciembre" />
  <!--Textos Años-->
  <add key="2013" value="dos mil trece" />
  <add key="2014" value="dos mil catorce" />
  <add key="2015" value="dos mil quince" />
  <add key="2016" value="dos mil dieciseis" />
  <add key="2017" value="dos mil diecisiete" />
  <add key="2018" value="dos mil dieciocho" />
  <add key="2019" value="dos mil diecinueve" />
  <add key="2020" value="dos mil veinte" />
  <add key="2021" value="dos mil veintiuno" />
  <add key="2022" value="dos mil veintidos" />
  <add key="2023" value="dos mil veintitres" />
  <add key="2024" value="dos mil veinticuatro" />
  <add key="2025" value="dos mil veinticinco" />
  <add key="2026" value="dos mil veintiseis" />
  <add key="2027" value="dos mil veintisiete" />
  <add key="2028" value="dos mil veintiocho" />
  <add key="2029" value="dos mil veintinueve" />
  <add key="2030" value="dos mil treinta" />
  <!--Textos Graficos-->
  <add key="ChartPadronTitle" value="Cuentas y Contraseñas Activas" />
  <add key="ChartPadronLegendCuenta" value="Activadas" />
  <add key="ChartPadronLegendClave" value="No Activadas" />
  <add key="ChartPadronLegendSinTamitar" value="Sin Tramitar" />
  <add key="ChartInscripcionesTitle" value="Inscripciones Web y Facultad" />
  <add key="ChartInscripcionesLegendWeb" value="Inscriptos Web" />
  <add key="ChartInscripcionesLegendFacu" value="Inscriptos Facultad" />
  <add key="ChartInscripcionesLegendNoInscriptos" value="No Inscriptos" />
  <add key="TotalAlumnos" value="Total de Alumnos en el padrón: {0}" />
  <add key="TotalCuentasTramitadas" value="Total de Cuentas Web tramitadas No activadas: {0} ({1}%)" />
  <add key="TotalCuentasActivadas" value="Total de Cuentas Web activadas: {0} ({1}%)" />
  <add key="TotalSinTramitar" value="Total de Alumnos sin tramitar Cuenta Web: {0} ({1}%)" />
  <add key="TotalInscriptos" value="Total de Alumnos Inscriptos: {0}" />
  <add key="TotalInscriptosWeb" value="Total de Alumnos Inscriptos Web: {0} ({1}%)" />
  <add key="TotalInscriptosFacu" value="Total de Alumnos Inscriptos Facultad: {0} ({1}%)" />
  <add key="TotalNoInscriptos" value="Total de Alumnos No Inscriptos: {0}" />
  <add key="MuestreoEstadisticas" value="Alumnos con estado: ACTIVO/REGULAR, CONDICIONAL y PASIVO" />
  <add key="ContentDescripcionComboTurno" value="Selección Turno Inscripción: " />
  <!--Textos Consultas-->
  <add key="CarreraContador" value="Contador Público" />
  <add key="CarreraAdministracion" value="Lic Administración" />
  <!--Textos Importacion-->
  <add key="LabelTipoImportacion" value="Selección Tipo de Importación: " />
  <add key="LabelArchivo" value="Archivo a Importar: " />
  <add key="LabelVueltaTurno" value="Selección Vuelta del Turno: " />
  <add key="LabelTipoInscripcion" value="Selección Tipo de Inscripción: " />
  <add key="LabelCheckProgramarImportacion" value="Programar Importación Diferida: " />
  <add key="MessageProcessOk" value="El proceso ha sido dado de alta correctamente" />
  <add key="MessageProcessError" value="No se ha podido dar de alta el proceso seleccionado, intentlo nuevamente en unos minutos" />
  <add key="MessageProcessInvalidFileFormat" value="Ha ingresado un formato de archivo inválido, por favor recuerde que los archivos deben ser con la extensión TXT" />
  <add key="MessageProcessInvalidPredecessor" value="Ha ingresado una importación que no tiene su proceso antecesor, por favor valide la misma y vuelve a intentarlo" />
  <add key="MessageProcessNoLogErrorTipoImportacion" value="El Tipo de Importación seleccionada, no tiene Errores Logueados" />
  <add key="MessageProcessNotFile" value="Por favor seleccione un archivo a subir para importar."/>
  <add key="MessageWarningActiveInscription" value="ADVERTENCIA: usted esta a punto de importar un archivo de inscripción, habiendo una inscripción en curso en estos momentos. Tenga en cuenta que se borrarán todas las inscripciones, para poder insertar las nuevas, pudiendo perder información. Desea continuar?"/>
</appSettings>